@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.about {
  @include container;
  gap: 2rem;
  background-color: $bg-primary;
  min-height: 100vh;

  &__hero {
    @include flex(column, flex-start, flex-start);
    margin: 0 20px;
    gap: 0.5rem;
  }
  &__story {
    margin: 0 20px;
    margin-top: 40px;
  }
  &__highlight {
    color: $accent-primary;
    font-weight: 800;
    font-size: 26px;
    text-transform: uppercase;
  }
  &__section {
    margin: 30px 0;
  }
  &__bold {
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 1.2;
  }
  &__caveat {
    text-transform: uppercase;
    font-weight: 700;
    border-left: solid 4px $accent-primary;
    padding: 6px 20px;
    margin: 20px 0;
  }
  &__icon {
    @include flex(row, start);
    margin-top: 10px;
  }
  &__fast {
    margin-left: 10px;
  }
  &__quals {
    @include flex(column, start, start);
    gap: 1rem;
  }
  // ------------TABLETBREAKPOINT
  @include tablet-and-desktop {
    @include flex(column, space-between, center);
    gap: 1rem;

    &__story {
      margin-top: 10px;
    }
    &__quals {
      @include flex(row, start, start);
      gap: 1rem;
    }
    &__qual {
      line-height: 2;
      margin-top: 10px;
      margin-right: 80px;
      align-self: flex-start;
    }
    img {
      max-width: 300px;
      align-self: flex-end;
    }
  }
}
