@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.movements {
  @include container;
  gap: 2rem;
  background-color: $bg-primary;
  min-height: 100vh;

  &__header {
    margin: 0 20px;
  }
  &__searchadd {
    @include flex(column);
  }
  &__search {
    @include flex(row, center, start);
    width: 60%;
    margin-top: 10px;
  }
  &__input {
    @include form-field;
    margin-right: 6px;
  }
  &__dropdown {
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    border: 2px solid $text-placeholder;
    &:active,
    &:focus {
      outline: 1px solid $accent-primary;
    }
  }
  &__addbtn {
    @include button-primary;
    @include flex(row, space-evenly);
    margin-top: 10px;
    margin-right: 16px;
  }
  &__cards {
    @include flex(row);
    flex-wrap: wrap;

    :hover {
      transform: scale(1.01);
    }
  }
  @include tablet-and-desktop {
    &__searchadd {
      @include flex(row, space-between);
    }
  }
}
