@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.movements {
  @include container;
  gap: 2rem;
  background-color: $bg-primary;
  min-height: 100vh;

  &__header {
    padding: 0 20px;
  }
  &__searchadd {
    @include flex(column);
  }
  &__search {
    @include flex(row, center, start);
    width: 60%;
    margin-top: 10px;
  }
  &__input {
    @include form-field;
    margin-right: 6px;
  }
  &__dropdown {
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    border: 2px solid $text-placeholder;
    &:active,
    &:focus {
      outline: 1px solid $accent-primary;
    }
  }
  &__favbuttons {
    @include flex(row, center, center);
  }
  &__favbtn {
    background-color: $bg-primary;
    color: $text-primary;
    font-family: "Rajdhani", sans-serif;
    font-weight: 500;
    height: 2rem;
    width: fit-content;
    padding: 10px;
    border-radius: 0.5rem;
    border: solid 3px $accent-primary;

    @include tablet-and-desktop {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      width: fit-content;
      min-width: 7rem;
    }
    @include flex(row, space-evenly);
    margin-top: 10px;
    margin-right: 16px;
  }
  &__heart {
    color: $accent-primary;
  }
  &__addbtn {
    @include button-primary;
    @include flex(row, space-evenly);
    margin-top: 10px;
    margin-right: 16px;
  }
  &__cards {
    @include flex(row);
    flex-wrap: wrap;

    :hover {
      transform: scale(1.01);
    }
  }
  // ---------TABLETBREAKPOINT
  @include tablet-and-desktop {
    &__searchadd {
      @include flex(row, space-between);
    }
  }
}
