@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.posts {
  @include container;
  gap: 2rem;
  background-color: $bg-primary;
  min-height: 100vh;

  &__title {
    @include flex(column);
    margin: 0 20px;
    margin-bottom: 20px;
  }
  &__submittedposts {
    margin: 0 20px;
    @include flex(row, flex-start, flex-start);
    flex-wrap: wrap;
  }
  &__btn {
    @include button-primary;
    @include flex(row, space-evenly);
  }
  &__icon {
    color: $accent-primary;
  }
  &__input {
    min-height: 80px;
    width: 100%;
    border: none;
    border-radius: 4px;
    padding: 20px;
    margin: 10px 0;
  }
  // ----------TABLETBREAKPOINT
  @include tablet-and-desktop {
    &__submittedposts {
      margin-top: 0;
    }
    &__title {
      align-items: stretch;
    }
    &__input {
      margin: 20px 0;
    }
    h2 {
      padding: 0;
    }
    &__spread {
      @include flex(row, flex-start);
      margin-top: 20px;
    }
  }
}
