@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.movement {
  @include container;
  @include flex(row, space-between);
  margin: 10px 10px;
  background-color: $bg-secondary;
  max-width: 320px;
  border-radius: 6px;
  &__top {
    @include flex(row, space-between, end);
  }

  &__type {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    color: $accent-primary;
  }

  &__image {
    max-width: 250px;
  }

  &__equip {
    @include flex(row, end, end);
    margin: 10px 0;
  }
  &__equiptext {
    padding: 2px 0;
  }

  &__description {
    max-height: 76px;
    overflow: hidden;
  }

  &__learn {
    font-weight: 500;
    height: 2rem;
    @include flex(row, flex-end);
    margin-top: 4px;
    margin-bottom: 20px;
  }

  &__icon {
    margin-left: 4px;
  }
}
