@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import "../assets/login.png";

// ? Reassign any bulma variables
$family-sans-serif: "Roboto", sans-serif;

.custom-height {
  max-height: 68px;
}

.underline-hover:hover {
  font-weight: bold;
}

.card-content.sessions {
  width: 280px;
  height: 120px;
}

body {
  background-image: url(../src/assets/login.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 200px;
}

.custom-border-radius {
  border-radius: 10px;
}

.login {
  background-image: url(../src/assets/login.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 200px;
}
.container.homeheader {
  display: flex;
  flex-direction: column;
}

.container.add {
  max-width: 440px;
}
.container.signup {
  max-width: 540px;
}

.icon.homepage {
  color: #b25d3e;
}
.button.community {
  background-color: #e4b895;
}

.button.book {
  height: 34px;
  background-color: #e4b895;
}
.button.cancel {
  height: 34px;
  border-color: #e4b895;
}

.card-content {
  margin-top: auto;
}

// ! example on how to customize, skip to section "Add your own Bulma styles":
// https://bulma.io/documentation/customize/with-sass-cli/

// ? Import bulma
@import "../../node_modules/bulma/bulma.sass";
