@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.home {
  @include container;
  gap: 1rem;
  background-color: $bg-primary;
  @include tablet-and-desktop {
    @include flex(column, space-between, center);
  }

  &__hero {
    @include flex(column, center, center);
    margin-bottom: 60px;
  }
  @media screen and (max-width: 600px) {
    &__text {
      font-size: 1.2rem;
    }
  }

  &__text {
    text-align: center;
    line-height: 1.3;
    padding: 10px;
  }
  &__header {
    text-align: center;
  }

  &__uppercase {
    text-transform: uppercase;
  }
  &__highlight {
    color: $accent-primary;
    font-weight: 800;
    font-size: 26px;
    text-transform: uppercase;
  }
  &__smallimage {
    max-width: 80px;
  }
  &__keywords {
    @include flex(column, center);
    width: max-content;
    padding: 20px 0;
  }

  &__rowkeywords {
    @include flex;
  }
  @media screen and (max-width: 600px) {
    &__rowkeywords {
      @include flex(column);
      margin: 10px 0;
    }
  }

  &__keyword {
    @include flex(column, start, center);
    max-width: 140px;
    min-height: 90px;
    margin: 0 40px;
  }
  &__icon {
    padding: 20px;
    color: $alt;
  }
  &__word {
    font-weight: 700;
    text-align: center;
  }
  &__btn {
    @include button-primary;
    @include flex(row, center, center);
  }

  &__feature {
    @include flex(row, center, center);
    margin: 40px 0;
    border-radius: 8px;
  }
  @media screen and (max-width: 600px) {
    &__feature {
      @include flex(column);
      margin: 10px 0;
    }
  }
  &__featureleft {
    @include flex(row-reverse, center, center);
    border-radius: 8px;
  }
  &__imageleft {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    max-width: 400px;
    margin-right: 40px;
  }
  &__imageright {
    border-radius: 8px;
    max-width: 400px;
    margin-left: 40px;
  }
  @media screen and (max-width: 600px) {
    &__featureleft {
      @include flex(column);
      margin: 10px 0;
    }
  }

  &__featuremove {
    @include flex(column, start, space-between);
    gap: 4em;
    max-width: 600px;
  }

  &__featuremoveleft {
    @include flex(column, end, end);
    gap: 4em;
    max-width: 600px;
  }
  &__featurekeywords {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 16px;
    color: $accent-primary;
  }
  &__featurekeywordsleft {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 16px;
    color: $accent-primary;
    text-align: end;
  }
  &__featurewordsleft {
    text-align: end;
  }
}
