@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.login {
  @include container;
  gap: 2rem;
  background-color: $bg-primary;
  min-height: 100vh;

  &__container {
    @include flex(column);
  }
  &__wrapper {
    @include flex(column);
    margin-bottom: 10px;
  }
  &__text {
    font-size: 14px;
    font-weight: 600;
  }
  // -----------TABLETBREAKPOINT
  @include tablet-and-desktop {
    @include flex(row, space-around, flex-start);
    max-height: fit-content;
    &__container {
      min-width: 300px;
    }
    img {
      max-width: 300px;
    }
  }
  // ----------DESKTOPBREAKPOINT
  @include desktop {
    &__container {
      min-width: 400px;
    }
    img {
      max-width: 400px;
    }
  }
}
