@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.show {
  @include container;
  gap: 1rem;
  background-color: $bg-primary;
  width: 100vw;

  &__title {
    margin-bottom: 20px;
  }

  &__textbuttons {
    @include flex(row, space-between);
  }

  &__top {
    @include flex(row, space-between, flex-end);
    width: 300px;
  }

  &__toptitle {
    text-transform: uppercase;
  }

  &__toptext {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
  }
  &__video {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
  }

  &__customvideo {
    width: 100%;
    max-width: 1600px;
    height: auto;
    aspect-ratio: 16 / 9;
    border: none;
  }
  &__buttons {
    @include flex(row, end);
    width: fit-content;
  }
  &__updatebtn {
    @include button-primary;
    @include flex(row, space-evenly);
    margin-top: 10px;
    margin-right: 16px;
  }
  &__deletebtn {
    @include flex(row, space-evenly);
    background-color: $bg-primary;
    color: $text-primary;
    font-family: "Rajdhani", sans-serif;
    font-weight: 500;
    height: 2rem;
    width: fit-content;
    padding: 10px;
    border-radius: 0.5rem;
    border: solid 2px $fail;
    margin-top: 10px;

    @include tablet-and-desktop {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      width: fit-content;
      min-width: 7rem;
    }
  }

  &__numbers {
    font-size: 32px;
    font-weight: 600;
    border-left: solid 2px $text-primary;
    border-bottom: solid 2px $text-primary;
    padding: 6px 10px;
    border-bottom-left-radius: 8px;
    margin-right: 20px;
  }
  &__desctext {
    max-width: 600px;

    padding-bottom: 2px;
  }

  &__description {
    @include flex(row, start, end);
    margin: 20px 0;
  }

  &__adaption {
    box-shadow: 0 0 2px 2px rgba($color: $accent-primary, $alpha: 0.4);
    padding: 30px 40px;
    border-radius: 8px;
    margin: 60px 0;
  }

  &__adaptheader {
    padding-top: 0;
  }
  &__adapttext {
    font-weight: 500;
  }
}
