@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.show-form {
  @include flex(column, start, stretch);
  width: 100%;
  gap: 1rem;

  &__container {
    width: 100%;
  }

  &__all {
    @include flex(row, space-between, center);
    width: 100%;
  }
  &__input {
    @include form-field;
    padding-right: 1rem;
    @include flex(column, start, start);
    gap: 1rem;
    max-width: 500px;
  }

  &__btn {
    @include button-primary;
    @include flex(row, space-evenly);
    margin-top: 10px;
    margin-right: 16px;
    margin-bottom: 40px;
  }
  &__dropdown {
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    border: 2px solid $text-placeholder;
    &:active,
    &:focus {
      outline: 1px solid $accent-primary;
    }
  }
}
